@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
@import 'reset.css';

a {
  color: black;
}

/* body {
  background: url('../img/background.png');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
} */
.wrapper {
  background: url('../img/background.png');
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;

  /* min-height: 100%; */
  height: 7036px;
  max-width: 1440px;
  margin: 0 auto;

  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 24px;

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 420px) {
  .wrapper {
    background: rgb(255, 129, 38);
    height: 7036px;
  }
  body {
    background: rgb(255, 129, 38);
  }
}

/* @media screen and (max-width: 768px) {
  .wrapper {
    
    background-size: cover;
   
    background-position: center center;
  }
} */

html, body {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  html {
    width:850px;
  }
}